@import url(https://fonts.google.com/specimen/Roboto?selection.family=Roboto);
body {
  margin: 0px;
}

#bon-app-menu {
  padding: 0.8em;
  box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.5);
  background: rgb(236 ,96, 88) ;
  color: #ffffff;
  font-size: 20px;
  text-decoration: none;
}

.bon-app-title-screen {
  background-image: url("images/ingredients_2.jpg");

/* Add the blur effect */

  /* Full height */
  height: 40%;

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

 
/* Position text in the middle of the page/image */
.hero-text {
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0, 0.25); /* Black w/opacity/see-through */
  color: white;
  font-weight: bold;
  border: 7px solid #f1f1f1;
  position: absolute;
  top: 20%;
  left: 50%;
  transform: translate(-50%, -50%);
  /*z-index: 2;*/
  width: 45%;
  padding: 20px;
  text-align: center;
}
