@import url(https://fonts.google.com/specimen/Roboto?selection.family=Roboto);
* {
    box-sizing: border-box;
}

div#bon-app-search-result {
    margin-left: 7%;
    margin-right: 7%;
}

.bon-app-body {
  	background-color: rgb(252	243	230	);
  	overflow:hidden;
  	text-align: center;

}
#recipe-proposal {
  color: white;
  font-weight: bold;
  background-color: rgb(236 ,96, 88);
  border: 7px solid rgb(252	243	230	);
  float: left;
  width: 50%;
  padding: 10px;
  text-align: center;
}

/* Clear floats after the columns */
.bon-app-search-result:after {
    content: "";
    display: table;
    clear: both;
}

/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
    #recipe-proposal {
        width: 100%;
    }
}

hr {
	display: none;
}

h3 {
	text-align: center;
}

img {
	display: block;
    margin-left: auto;
    margin-right: auto;
    width: 40%;
}

li {
	list-style-type: disc;
}