*{ font-family: helvetica, arial; }

body, html {
  font-family: Roboto;
  height: 100%;
}

em {
  color: #099;
  font-style: normal;
  text-decoration: underline;
}

#bon-app-search-result {
  display: none;
}

.use-case-box {
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0, 0.25); /* Black w/opacity/see-through */
  color: white;
  font-weight: bold;
  border: 7px solid #f1f1f1;
  position: absolute;
  top: 20%;
  left: 50%;
  transform: translate(-50%, -50%);
  /*z-index: 2;*/
  width: 45%;
  padding: 20px;
  text-align: center;
}


.option-content-box-text {
  color: black;
  border: 3px solid rgba(236 ,96, 88,0.4);
  /*margin: 25%;*/
  height: 5em;
  width: 25%;
  text-align: center;
  display: inline-block;
  background-color: rgb(255,255,255); /* Fallback color */
  font-weight: bold;
}

.bon-app-body {
  height: 2000px;
}

