*{ font-family: helvetica, arial; }

body, html {
  font-family: Roboto;
  height: 100%;
}

em {
  color: #099;
  font-style: normal;
  text-decoration: underline;
}

#bon-app-search-result {
  display: none;
}

.use-case-box {
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0, 0.25); /* Black w/opacity/see-through */
  color: white;
  font-weight: bold;
  border: 7px solid #f1f1f1;
  position: absolute;
  top: 20%;
  left: 50%;
  transform: translate(-50%, -50%);
  /*z-index: 2;*/
  width: 45%;
  padding: 20px;
  text-align: center;
}
