<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Bon'app | add recipe</title>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/algoliasearch/3.30.0/algoliasearch.js" type="text/javascript"></script>
    <script src="script.js"></script>
</head>
<body>
<div ng-app="algolia.addrecipe" ng-cloak ng-controller="myCtrl">
  <header>
    <h3>Add Recipes to Algolia</h3>
    <div>
        <form>
            <input placeholder="Search by ingridents" ng-model="ingridents">
            <input type="submit" ng-click="search()" value="Search" />
        </form>
    </div>
  </header>
  <div>
    <span ng-repeat="x in recipes">                    
        <hr />  
        <a href="{{ x.recipe.url }}" target="_blank">{{ x.recipe.label }}</a>
        <button ng-click="addRecipeToAlgolia(x.recipe)" style="cursor:pointer;">add</button>
        <br /><br />
        <img ng-src="{{ x.recipe.image }}" />

        <ul>            
            <li ng-repeat="i in x.recipe.ingredientLines">{{ i }}</li>
        </ul>  
    </span>
</div>

  <p class="w3-text-red">{{errortext}}</p>
</div>

</body>
</html>
